body {
    --color-bg:#ddd;
    --color-texto:#ee6352;
}

body.dark-theme{
    --color-bg: rgb(47, 47, 47);
    --color-texto: #ffb847;

}

@media (prefers-color-scheme: dark) {
   body {
    --color-bg: rgb(47, 47, 47);
    --color-texto: #ffb847;

      }

    body.light-theme {
        --color-bg:#ddd;
        --color-texto:#ee6352;
    }
  }
  

body{
    background-color: var(--color-bg);
}

.boton{
    background-color: #af4c8e;
  border-radius: 12px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.boton:hover{
    background-color: salmon;
}

.imagen{
    margin-bottom: 3%;
}
h1{
    color: var(--color-texto);
}

p{
    color: var(--color-texto);
}